/* variables */

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);

}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,500&display=swap');

@font-face {
    font-family: Outfit;
    src: url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,500&display=swap');
    font-style: normal;
}

/* base styles */
*,
*::before,
*::after {
    box-sizing: border-box;
} 

body {
    margin: unset;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    background-color: var(--Light-gray);
    font-family: Outfits,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 0.675rem;
}

main {
    background-color: var(--White);
    max-width: 320px;
    padding: 1.075rem;
    border-radius: 1.35rem;
    box-shadow: 0 1.6rem 1.6rem hsla(0,0%,0%,0.05);
    text-align: center;
    margin: 1.075rem;
}

h1{
    font-size: 1.375rem;
    line-height: 1.275;
    margin-top: 1.1em;
    color: var(--Dark-blue);
}

p{
    line-height: 1.3;
    color: var(--Grayish-blue);
    margin: 1.075em;
}

